# auto text identification
* text=auto

# tex hunk headers and eol conversion
*.dtx diff=tex eol=lf
*.tex diff=tex eol=lf

# markdown hunk headers and eol conversion
*.md diff=markdown eol=lf

# files to ignore on export
# all dot files
.* export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.gitmodules export-ignore
.latexmkrc export-ignore diff=perl
latexmkrc export-ignore diff=perl
test.tex export-ignore
.dir-locals.el export-ignore

.dir-locals.el export-ignore
.editorconfig export-ignore
