# ignore all dot files
.*
# but never ignore these
!.gitignore
!.gitattributes
!.gitmodules
!.latexmkrc

!.dir-locals.el
!.editorconfig

# ignore backup files
*~
*.bak

# ignore latex output products
*.aux
*.fdb_latexmk
*.fls
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.run.xml
*.sty
*.synctex
*.synctex.gz
*.toc
*-SAVE-ERROR

# exclude generated bib file
*.bbl
*.bcf
*.bib
*.blg

# exclude all .tex files
*.tex
# but don't exclude these
!test.tex

# ignore potential build directory
/build/
