# auto text identification
* text=auto

# tex hunk headers
*.dtx diff=tex
*.tex diff=tex

# markdown hunk headers
*.md diff=markdown

# files to ignore on export
.gitignore export-ignore
.gitattributes export-ignore
.gitmodules export-ignore
.latexmkrc export-ignore diff=perl
latexmkrc export-ignore diff=perl

.dir-locals.el export-ignore
.editorconfig export-ignore
