# auto text identification
* text=auto

# tex hunk headers and eol conversion
*.dtx diff=tex eol=lf
*.tex diff=tex eol=lf

# hunk headers for utility perl scripts
*.pl export-ignore diff=perl

# markdown hunk headers and eol conversion
*.md diff=markdown eol=lf

# files to ignore on export
# all dot files
.* export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.gitmodules export-ignore
# latexmk-rc files
.latexmkrc export-ignore diff=perl
latexmkrc export-ignore diff=perl
# editor configuration files
.dir-locals.el export-ignore
.editorconfig export-ignore
# test files
test.tex export-ignore

# do not export lppl.txt as its already part of texlive/ctan
lppl.txt export-ignore

# helper scripts
/scripts/ export-ignore
